// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "windows.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOGEX 0, 0, 195, 111
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOPMOST | WS_EX_TRANSPARENT
CAPTION "LineNova"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,66,84,60,18
    PUSHBUTTON      "Cancel",IDCANCEL,132,84,48,18
    PUSHBUTTON      "Reset",IDRESET,12,84,48,18
    EDITTEXT        IDC_EDIT_LINE,66,12,48,12
    EDITTEXT        IDC_EDIT_SHARP,66,30,48,12
    EDITTEXT        IDC_EDIT_OFFSET,66,48,48,12
    EDITTEXT        IDC_EDIT_RAND,66,66,48,12
    CONTROL         "",IDC_SPIN_LINE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,114,12,11,12
    CONTROL         "",IDC_SPIN_SHARP,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,114,30,11,12
    CONTROL         "",IDC_SPIN_OFFSET,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,114,48,11,12
    CONTROL         "",IDC_SPIN_RAND,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,114,66,11,12
    LTEXT           "Number of lines:",IDC_STATIC,6,12,60,12
    LTEXT           "Sharpness [deg]:",IDC_STATIC,6,30,60,12
    LTEXT           "Offset radius:",IDC_STATIC,6,48,60,12
    LTEXT           "Randomness:",IDC_STATIC,6,66,60,12
    CONTROL         "Fill",IDC_CHECK_FILL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,132,12,54,12
    CONTROL         "Selection",IDC_CHECK_SELECTION,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,132,30,54,12
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DIALOG1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 188
        TOPMARGIN, 7
        BOTTOMMARGIN, 104
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_DIALOG1 AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

